import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-{{componentName}}',
  templateUrl: './{{componentName}}.component.html',
  styleUrls: ['./{{componentName}}.component.css']
})
export class {{ComponentName}}Component implements OnInit {
  
  constructor() { }

  ngOnInit(): void {
  }

}

